<footer class="newsletter_right_w3agile bg-dark pymd-5 py-4">
    <div class="container">
        <div class="inner-sec-w3layouts py-md-5 py-3">
            <div class="row footer-bottom-wthree mt-lg-5 mt-3">
                <div class="col-lg-6 copyright">
                    <h2><a class="navbar-brand" href="/">
                            Tunisie Express</a></h2>
                    <p class="copy-right mt-3">© 2019 Tunisia Express. All Rights Reserved </p>
                </div>
                <div class="col-lg-6 social-icon footer">
                    <ul class="links-nav d-flex justify-content-end">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a class="nav-link" href="/users">Users</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/ordre">Import</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/verfication">Verification</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                            <li>
                                <a class="nav-link" href="/ordre">Colis</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="social-icons d-flex justify-content-end mt-3">
                        <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                        <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>

            </div>

        </div>
    </div>
</footer>