<div class="header-top-w3layouts">
    <div class="container">

        <header>
            <div class="top-head-w3-agile text-left">
                <div class="row top-content-info-wthree">
                    <div class="col-lg-7 top-content-right">
                        <div class="row">
                            <div class="col-md-6 callnumber text-left">
                                {% if app.user.username is defined  %}
                                    <h6>{{ app.user.username }}</h6>
                                {% endif %}
                            </div>
                            <div class="col-md-6 top-social-icons p-0">
                                <ul class="social-icons d-flex justify-content-end">
                                    <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                    <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="logo text-left">
                    <h1>
                        <a class="navbar-brand" href="/">
                            Tunisia Express</a>
                    </h1>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                            </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-right">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="/users">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/ordre">Import</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/verification">Verification</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="/ordre">Colis</a>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="log-in">
                        {% if app.user.username is defined %}
                            <a class="btn text-uppercase" href="{{ path('fos_user_security_logout') }}">Log out</a>
                        {% else %}
                            <a class="btn text-uppercase" href="/login" style="background: transparent;color: #ff4e00;">Sign In</a>
                            <a class="btn text-uppercase" href="/register">Sign Up</a>
                        {% endif %}
                    </div>
                </div>

            </nav>
        </header>
    </div>
</div>