<!DOCTYPE html>
<html lang="zxx">

{% include 'MorivenBundle:common:head.html.twig' %}
<body>
<div class="mian-content {% if app.request.requestUri != '' %} inner-page{% endif %}">
    <!-- main image slider container -->
    {% block slider %}
    {% endblock %}
    <!-- main image slider container -->
    {% include 'MorivenBundle:common:header.html.twig' %}
</div>
<!-- end of main image slider container -->

{% block content %}
{% endblock %}

<!--/footer-->
{% include 'MorivenBundle:common:footer.html.twig' %}
<!--//footer-->

<!--model-forms-->
{#<!--/Login-->#}
{#{% include 'MorivenBundle:Security:login.html.twig' %}#}
{#<!--//Login-->#}
{#<!--/Register-->#}
{#{% include 'MorivenBundle:Registration:register.html.twig' %}#}
{#<!--//Register-->#}

<!--//model-form-->
<!-- js -->
{% include 'MorivenBundle:common:footer_js.html.twig' %}

<script>
    $(document).ready(function() {
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 1,
                    nav: false
                },
                900: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 3,
                    nav: true,
                    loop: false,
                    margin: 20
                }
            }
        })
    })
</script>
<!-- //carousel -->
<script>
    $(document).ready(function() {
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //dropdown nav -->
<!-- password-script -->
<script>
    window.onload = function() {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
    }

    function validatePassword() {
        var pass2 = document.getElementById("password2").value;
        var pass1 = document.getElementById("password1").value;
        if (pass1 != pass2)
            document.getElementById("password2").setCustomValidity("Passwords Don't Match");
        else
            document.getElementById("password2").setCustomValidity('');
        //empty string means no validation error
    }
</script>
<!-- //password-script -->

<script>
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 900);
        });
    });
</script>
<script>
    $(document).ready(function() {
        /*
                                var defaults = {
                                      containerID: 'toTop', // fading element id
                                    containerHoverID: 'toTopHover', // fading element hover id
                                    scrollSpeed: 1200,
                                    easingType: 'linear'
                                 };
                                */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!--// end-smoth-scrolling -->
</body>
</html>