<div class="slide-window">
    <div class="slide-wrapper" style="width: 300%;">
        <div class="slide">
            <div class="slide-caption">
                <p>The right choice</p>
                <h3>Propel <span>yourself</span> into the future.</h3>
            </div>
        </div>
        <div class="slide slide2">
            <div class="slide-caption">
                <p>Ready to go</p>
                <h3>Premium Worldwide <span>Logistics</span> Network </h3>
            </div>
        </div>
        <div class="slide slide3">
            <div class="slide-caption">
                <p>The right choice.</p>
                <h3>Propel <span>yourself</span> into the future.</h3>
            </div>
        </div>
    </div>
    <div class="slide-controller">
        <div class="slide-control-left">
            <div class="slide-control-line"></div>
            <div class="slide-control-line"></div>
        </div>
        <div class="slide-control-right">
            <div class="slide-control-line"></div>
            <div class="slide-control-line"></div>
        </div>
    </div>
</div>